@font-face {
  font-family: 'c-icon';
  src: url('../fonts/iconfont.eot?t=1586847633893'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1586847633893#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABlAAAAJHAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApYYQE2AiQDCAsGAAQgBYRtBzEbiAXInpo8CcBkgghL4gkIAMTDf/v9b5+Zearpm2DJmmgWTTTx0PQmJEGiREKF1X9IJJJn8t1ayzyxsBn/QOrVc1GxPMwecC6l8Z1aICOrVIVshauebF09XU6qVkVURlZk7BpwTf0a0EDygObWSVGJFYCjAQ+wC9dkG+OGsQte4GUCXWv6Cpf3pxdQV9izAvHccwyoF3yKwpJtodmwsYhPGtrpQzrAx+j38c/xaJM0Mrvs2sOdDcufnLRc1ZW7AcFPQNsbyDgGFOJWY+yKkmDskm6sbAscqzj4qa4DqziqSbC/zi7sgxUofiaJJ33UwgRKklgCq5hVnp7yrNV+kb6PfF7e+aw+vn39dZuonC++vN/81CmfPuHH9bd27vlb0dWfe2ttEJw/6JTWO/2/TcsNfL+KaEpdFblCeyf24GdIBnYUQ2ZbUtEkjY5kOWlmQlcXNeya+ptaceZUaFucX9nSJRmyth2ysI6hoeckmtrOoeuog+09M6wkSgdHPAKEsW8kQ1+Rjf2QhfWLhqV/NI0jo+tOzA7s2YsnzUtMhpCN5gN6VhIr1ybNuPiMnJvQ4Lws4lwR514QJ8NxOXlAMfESS/JbZyqiUHES4R5cR2GYYMqJT5YMXZF0MRqppg8NrSSCpksYMQhiQ6YHyGNJxFTQXzQr3z9DHDdCBu6oqQtfISznDY8mhsYDyAN1PKjmUW7J3XJMCaEghSUiaA/GkVAogdLmcT5iEUPuhEhqYeT0UkPVw+210Q8UsQZsQwpnZNa655IVkA0AAAAA') format('woff2'),
  url('../fonts/iconfont.woff?t=1586847633893') format('woff'),
  url('../fonts/iconfont.ttf?t=1586847633893') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg?t=1586847633893#iconfont') format('svg'); /* iOS 4.1- */
  font-weight: normal;
  font-style: normal;
}

[class^="c-icon-"], [class*=" c-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'c-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-checked:before {
  content: "\e615";
}
