/*-----propertype------*/
.f-l {
  float: left;
}

.f-r {
  float: right;
}

.c-form {
  .c-form-group {
    display: flex;
    &+.c-form-group{
      margin-top: formatVal(20,rem);
    }
    .field-name{
      margin-right: 1em;
    }
    .field-cont{
        flex: 1;
    }

  }
}










