.c-input-text {
  font-size: 14px;
  margin: 0;
  padding: 0 4px;
  white-space: normal;
  vertical-align: top;
  outline-style: none;
  resize: none;
  border-radius: 5px 5px 5px 5px;
  height: 28px;
  line-height: 28px;
  position: relative;
  border: 1px solid #95B8E7;
  background-color: #fff;

  &.validatebox-invalid {
    border-color: #ffa8a8;
    background-color: #fff3f3;
  }
}


.c-form-group {
  align-items: center;
}

.search-box {
  @include h(40);
  display: flex;
  align-items: center;
  //padding: 0 formatVal(10, rem);
  .c-form-group {
    margin: 0;
    align-items: center;

    & + .c-form-group {
      margin: 0;
      margin-left: formatVal(10, rem);
    }

    &.filter {
      .field-name {
        flex: 1;
      }
    }
  }
}

.operation-box {
  @include h(40);
  display: flex;
  align-items: center;
}

.c-tab {
  display: none;
}

.FOTA-tab {
  .search-input {
    input {
      width: formatVal(200, rem);
    }
  }
}

.c-form {
  padding: formatVal(10, rem) formatVal(20, rem);

  .field-name {
    flex: 0 0 30%;
    text-align: right;
  }

  .field-cont {
    max-width: 70%;
  }
}

.c-icon {
  display: inline-block;
  width: 16px;
  height: 16px;

  &.operate {
    cursor: pointer;
  }
}

.firmware-dialog {
  display: none;
}

.fw-dialog-deviceType {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  margin: formatVal(-5, rem);

  label {
    display: flex;
    align-items: center;
    margin: formatVal(5, rem);
  }
}

.expire-tip {
  padding: formatVal(20, rem);
}
