doctype html
html(lang="en")
    - var title = 'FleetUp FOTA';
    include ../../layout/common/head
body
    div#FOTATabs
        div.c-tab.FOTA-tab(title="FOTA")
            #FOTATabTool
                form.search-box.c-form(data-starget='FOTASearch', data-ftarget='FOTAFilter')
                    .c-form-group.filter
                        label.field-name(data-trans-text="MESS_Device_Type")
                        input.field-cont.search-filter#FOTAFilter(name="deviceType")
                    .c-form-group
                        label
                            span.field-name(data-trans-text="MESS_Company_Name")
                            input.easyui-textbox.field-cont(data-trans-placeholder="MESS_Input_Value", name="companyName")
                    .c-form-group
                        label
                            span.field-name(data-trans-text="MESS_Firmware_Version")
                            input.easyui-textbox.field-cont(data-trans-placeholder="MESS_Input_Value", name="firmwareVersion")
                    .c-form-group
                        a.easyui-linkbutton.submit-btn#FOTASearch(data-options="iconCls:'icon-search'")
                .operation-box
                    a.easyui-linkbutton.batch-upgrade(data-options="iconCls:'icon-reload'")
                        span(data-trans-text="MESS_Batch_Upgrade")
            table.easyui-datagrid.FOTA-table#FOTATable
            #FOTAUpgradeDialog
                form.c-form.FOTA-upgrade-form#FOTAUpgradeForm
                    .c-form-group
                        label.field-name(for="FTAFormDevId", data-trans-text="MESS_Device_ID")
                        input.field-cont.c-input-text.easyui-validatebox(id="FTAFormDevId", disabled, name="devId", data-options="required:true")
                    .c-form-group
                        label.field-name(for="FTAFormVehicleOrAsset", data-trans-text="MESS_Vehicle#Asset#")
                        input.field-cont.c-input-text(id="FTAFormVehicleOrAsset", disabled, name="license")
                    .c-form-group(data-scope="batch")
                        label.field-name(for="FTAFormDeviceTypeVal", data-trans-text="MESS_Device_Type")
                        input.field-cont.c-input-text(id="FTAFormDeviceTypeVal", disabled, name="deviceTypeVal")
                        input.field-cont(id="FTAFormDeviceType", name="deviceType", type="hidden")
                    .c-form-group
                        label.field-name(for="FTAFormCurrentFWV", data-trans-text="MESS_Current_Firmware")
                        input.field-cont.c-input-text(id="FTAFormCurrentFWV", disabled, name="currentFirmware")
                    .c-form-group(data-scope="batch")
                        label.field-name(for="FTAFormNewFW", data-trans-text="MESS_NewFW")
                        select.field-cont(id="FTAFormNewFW", name="upgradingFirmware")
                    .c-form-group(data-scope="batch")
                        label.field-name(for="FTAFormExpireDate", data-trans-text="MESS_ExpireDate_Command")
                        input.field-cont.datePicker(id="FTAFormExpireDate", name="commandExpireDate")
        div.c-tab.firmware-tab(title="Firmware")
            #firmwareTabTool
                form.search-box.c-form(data-starget='firmwareSearch', data-ftarget='firmwareFilter')
                    .c-form-group.filter
                        label.field-name(data-trans-text="MESS_Device_Type")
                        input.field-cont.search-filter#firmwareFilter(name="deviceType")
                    .c-form-group
                        label
                            span.field-name(data-trans-text="MESS_Firmware_Version")
                            input.easyui-textbox.field-cont(data-trans-placeholder="MESS_Input_Value", name="firmwareVersion")
                    .c-form-group
                        a.easyui-linkbutton.submit-btn#firmwareSearch(data-options="iconCls:'icon-search'")
                .operation-box
                    a.easyui-linkbutton.firmware-new(data-options="iconCls:'icon-add'")
                        span(data-trans-text="MESS_New")
            table.firmware-table#firmwareTable
            .firmware-dialog#firmwareDialog
                form.c-form.firmware-form#firmwareForm
                    .c-form-group
                        label.field-name(for="FWFormFirmware", data-trans-text="MESS_Firmware")
                        select.field-cont#FWFormFirmware(name="firmwareList")
                    .c-form-group
                        label.field-name(data-trans-text="MESS_Device_Type")
                        .field-cont.fw-dialog-deviceType#FWFormDeviceType
                    .c-form-group
                        label.field-name(for="FWFormFirmwareVersion", data-trans-text="MESS_Firmware_Version")
                        input.field-cont.c-input-text.easyui-validatebox(id="FWFormFirmwareVersion", name="firmwareVersion", data-options="required:true")
                    .c-form-group
                        label.field-name(for="FWFormStage", data-trans-text="MESS_Firmware_Stage")
                        select.field-cont#FWFormStage(name="firmwareStage")
                    .c-form-group
                        label.field-name(for="releaseNotes", data-trans-text="MESS_Release_Notes")
                        input.field-cont.c-input-text(id="releaseNotes", name="description")
                    .c-form-group(data-scope="edit")
                        .field-name(data-trans-text="MESS_File_Size")
                        input.field-cont.c-input-text(name="fileSize", disabled)
                    .c-form-group(data-scope="edit")
                        .field-name(data-trans-text="MESS_Add_By")
                        input.field-cont.c-input-text(name="addBy", disabled)
                    .c-form-group(data-scope="edit")
                        label.field-name(for="FWFormStatus", data-trans-text="MESS_Status")
                        select.field-cont(id="FWFormStatus", name="status")
            #firmwareExpireDialog
                p.expire-tip(data-trans-text="MESS_Expire_Confirm_Msg")
    .c-loading
        .cont
            .panel-loading loading...

