doctype html
html(lang="en")
    - var title = 'FleetUp FOTA';
    include ../../layout/common/head
body
    div#FOTATabs
        div.c-tab.FOTA-tab(title="FOTA")
            #FOTATabTool
                .search-box(data-starget='FOTASearch', data-ftarget='FOTAFilter')
                    .search-input
                        input#FOTASearch
                        div#FOTASearchMenu
                            div(data-options="name:'Company Name',iconCls:'icon-ok'") Company Name
                            div(data-options="name:'Firmware Version',iconCls:'icon-ok'") Firmware Version
                    .filter
                        label(data-trans-text="MESS_Device_Type")
                        | ：
                        input.search-filter#FOTAFilter(name="deviceType", value=2)
                .operation-box
                    a.easyui-linkbutton.batch-upgrade(data-options="iconCls:'icon-reload'")
                        span(data-trans-text="MESS_Batch_Upgrade")
            table.easyui-datagrid.FOTA-table#FOTATable
            #FOTAUpgradeDialog
                form.c-form.FOTA-upgrade-form#FOTAUpgradeForm
                    .c-form-group
                        label.field-name(for="FTAFormDevId", data-trans-text="MESS_Device_ID")
                        input.field-cont.easyui-validatebox(id="FTAFormDevId", name="devId", data-options="required:true")
                    .c-form-group
                        label.field-name(for="FTAFormVehicleOrAsset", data-trans-text="MESS_Vehicle#Asset#")
                        input.field-cont(id="FTAFormVehicleOrAsset", name="vehicleAsset")
                    .c-form-group(data-scope="batch")
                        label.field-name(for="FTAFormDeviceType", data-trans-text="MESS_Device_Type")
                        select.field-cont.easyui-validatebox(id="FTAFormDeviceType", name="deviceType", data-options="required:true")
                    .c-form-group
                        label.field-name(for="FTAFormCurrentFWV", data-trans-text="MESS_Current_Firmware")
                        input.field-cont(id="FTAFormCurrentFWV", disabled, value="JT701_20181010_V1.5_M35_SST26_LoRa_UNIVERSAL")
                    .c-form-group(data-scope="batch")
                        label.field-name(for="FTAFormNewFW", data-trans-text="MESS_NewFW")
                        select.field-cont.easyui-validatebox(id="FTAFormNewFW", name="upgradingFirmware", data-options="required:true")
                    .c-form-group(data-scope="batch")
                        label.field-name(for="FTAFormExpireDate", data-trans-text="MESS_ExpireDate_Command")
                        input.field-cont(id="FTAFormExpireDate")
        div.c-tab.firmware-tab(title="Firmware")
            #firmwareTabTool
                .search-box(data-starget='firmwareSearch', data-ftarget='firmwareFilter')
                    .search-input
                        input#firmwareSearch
                        div#firmwareSearchMenu
                            div(data-options="name:'Firmware Version',iconCls:'icon-ok'") Firmware Version
                    .filter
                        label(data-trans-text="MESS_Device_Type")
                        | ：
                        input.search-filter#firmwareFilter(name="deviceType", value=2)
                .operation-box
                    a.easyui-linkbutton.firmware-new(data-options="iconCls:'icon-add'")
                        span(data-trans-text="MESS_New")
            table.firmware-table#firmwareTable
            .firmware-dialog#firmwareDialog
                form.c-form.firmware-form#firmwareForm
                    .c-form-group
                        label.field-name(for="FWFormFirmware", data-trans-text="MESS_Firmware")
                        select.field-cont#FWFormFirmware(name="firmwareList")
                    .c-form-group
                        label.field-name(data-trans-text="MESS_Device_Type")
                        .field-cont.fw-dialog-deviceType#FWFormDeviceType(name="deviceType")
                    .c-form-group
                        label.field-name(for="FWFormFirmwareVersion", data-trans-text="MESS_Firmware_Version")
                        input.field-cont.easyui-validatebox(id="FWFormFirmwareVersion", name="firmwareVersion", data-options="required:true")
                    .c-form-group
                        label.field-name(for="FWFormDescription", data-trans-text="MESS_Description")
                        input.field-cont(id="FWFormDescription", name="description")
                    .c-form-group
                        label.field-name(for="FWFormStage", data-trans-text="MESS_Firmware_Stage")
                        select.field-cont#FWFormStage(name="firmwareStage")
                    .c-form-group
                        label.field-name(for="releaseNotes", data-trans-text="MESS_Release_Notes")
                        input.field-cont(id="releaseNotes", name="releaseNotes")
                    .c-form-group(data-scope="edit")
                        .field-name(data-trans-text="MESS_File_Size")
                        .field-cont
                    .c-form-group(data-scope="edit")
                        .field-name(data-trans-text="MESS_Add_By")
                        .field-cont
                    .c-form-group(data-scope="edit")
                        label.field-name(for="FWFormStatus", data-trans-text="MESS_Status")
                        select.field-cont(id="FWFormStatus", name="status")
                            option(value="1") Beta
                            option(value="2") Release
                            option(value="3") Specific
            #firmwareExpireDialog
                p.expire-tip(data-trans-text="MESS_Expire_Confirm_Msg")
    .c-loading
        .cont
            .panel-loading loading...

