.search-box {
  @include h(40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 formatVal(10,rem);
}
.operation-box{
  @include h(40);
  display: flex;
  align-items: center;
}
.FOTA-tab {
  .search-input {
    input {
      width: formatVal(200, rem);
    }
  }
}
.FOTA-upgrade-form{
  padding: formatVal(10,rem) formatVal(20,rem);
  .field-name{
    flex: 0 0 30%;
    text-align: right;
  }
  .field-cont{}
}
.c-icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  &.operate{
    cursor: pointer;
  }
}
