doctype html
html(lang="en")
    - var title = 'FleetUp FOTA';
    include ../../layout/common/head
body
    .panel
        .panel-header FOTA
        .panel-body
            table.easyui-datagrid#firmwareTable
